@border1: 1px solid #c0c0c0;
@border2: 1px solid #f1592a;
@font1: Century Gothic;

body
{
	font-family:Muli;
	min-width:1024px;
	width:100%;
	font-size:16px;
}

header{
	background-image:url('../images/header_bg.jpg');
	position:fixed;
	width:100%;
	min-width:1024px;
	
	-webkit-box-shadow: -1px 9px 5px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 5px -11px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 5px -11px rgba(0,0,0,0.75);
	
	
	/*height:9.6vw; /* 209/2172 */
	border-bottom:@border2;
	top:0px;
	z-index:100;
	nav{
		float:right;
		margin-top:1%;
		width:80%;
		
		a{
			text-decoration:none !important;
			font-size:50px;
			display:inline-block;
			position:relative;
			text-align:center;
			float:right;
			margin-left:50px;
			color:#f1592a;
			b{
				display:block;
				font-size:16px;
				text-decoration:none !important;
				
			}
			i{
				text-decoration:none;
			}
		}
		a.sz1{
			font-size:45px;
		}
		
		#schedule-link{
			
		}
		
		#map-link{
			
		}
		
		#media-link{
			margin-top:-5px;
			b{
				margin-top:-2px;
			}
		}
		
		
		
		#sponsors-link{
			margin-top:-7px;
			font-size:65px;
			b{
				margin-top:-22px;
			}
		}
	}
	
	
	
}

#logo{
	margin-top:5px;
	padding-bottom:10px;
	
	display:inline-block;
	width:14%;
	b{
		display:none;
	}
	#logo-img{
		width:100%;
	}
	
	
}

#banner{
	/*height:31.5vw;*/
	width:100%;
	background-image:url("../images/banner.jpg");
	background-size:cover;
	position:fixed;
	z-index:1;
	/*top:9.6vw; /* 209/2172 */
	
}

#event-details-overlay{
	
	position:relative;
	z-index:2;
	.caption{
		font-family:Oswald;
		font-size:35px;
		color:rgba(255,255,255,0.95);
		text-align:right;
		float:right;
		width:45%;
		margin-right:5%;
		margin-top:2%;
		text-shadow: -3px 0px 27px rgba(0, 0, 0, 1);
	}
	
	.tagline{
		width:30%;
		margin-left:7%;
		margin-top:20%;
	}
	
	.details{
		background-color:rgba(255,255,255,0.7);
		padding:1%;
		width:36%;
		margin-top:-1.5%;
		text-align:right;
		font-family:Century Gothic;
		font-size:30px;
		color:#d91b5c;
		font-weight:500;
	}
}

#event-other-info{
	position:relative;
	/*margin-top:41.1vw; /*9.6+31.5*/
	border-top:@border2;
	z-index:10;
	background:#fff;
	height:100px;
	.message{
		color:#f1592a;
		font-size:20px;
		font-family:Oswald;
		font-weight:400;
	}
	.presented-by{
		text-align:right;
		.event-company-logo{
			width:15%;
			display:inline-block;
			margin-top:-30px;
			img{
				width:100%;
			}
		}
	}
}


.clearfix{
	clear:both;
}

.section{
	border-top:@border1;
	h1{
		margin-top:10px;
		text-align:center;
		margin-bottom:30px;
		color:#d91b5c;
		font-family:LeckerliOneRegular;
		font-weight:500;
		font-size:50px;
	}
	position:relative;
	z-index:3;
	background-color:#fff;
	padding-bottom:50px;
	padding-top:50px;
	min-height:200px;
}

#schedule{
	background-image: url('../images/landingpage/bg.jpg');
	h1{
		float:none;
		margin-top:0px;
	}
	.timeline-panel{
		background-color:#fff;
	}
	
	
}

#about{
	
	
}

.angular-google-map-container { height: 400px; }
